@using Lia.Blog.Domain.Entity;
@model User
@{
    ViewBag.Title = "UserProps";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Custom User Properties
    </div>
    <table class="table table-striped">
        <tr><td>@Model.Country</td></tr>
        <tr><td>@Model.City</td></tr>
    </table>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>City</label>
        @Html.DropDownListFor(x=>x.City,new SelectList(Enum.GetNames(typeof(City))))
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
}

